[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Omeleto
Exec=mycroft-gui-app --hideTextInput --skill=skill-omeleto.jarbasskills.home
Icon=omeleto_icon.png
Categories=VoiceApp
StartupNotify=false
